:root {font-size: 16px;}
input[type="search"] {font-size: 1rem;}


#main {-webkit-transition: all .3s ease;}

#hSearch input[type="search"] {background: none; border: solid #ccc; border-width: 0 0 1px; border-radius: 0; -webkit-appearance: none; width: 100%; box-sizing: border-box; background: url(/img/icon_search_w.png) no-repeat left center; background-size: 20px 21px; line-height: 2; padding-left: 30px; min-height: 28px; font-size: 14px; outline: none;}

.cancel {text-align: right; padding: 20px 20px 0;}
.cancel:before {content: url("/img/icon_close.png"); margin-right: 5px;}

.blur {-webkit-filter: blur(5px); filter: blur(5px);}

#globalHeader .wrapper {background: rgba(0,0,0,.7); position: fixed; z-index: 1000; width: 100%; height: 100%; color: #fff; font-size: 16px; padding: 0; box-sizing: border-box; left: 0;}
#globalHeader .wrapper a {color: #fff;}
#globalHeader .wrapper ul {padding: 0;}
#globalHeader .wrapper li {list-style: none;}
#hSearch li {width: 50%; float: left;}
#hSearch li:nth-child(9) {width: 100%;}
#hSearch ul:after {content: ""; display: block; clear: both;}
#globalHeader .wrapper li a {border-bottom: 1px solid rgba(255,255,255,0.1); display: block; padding: 10px;}

#hGlobalNav h1 {text-indent: -9999px; background: url(../img/menu.png) no-repeat center center; width: 24px; height: 18px; background-size: 24px 18px; position: absolute; top: 0; left: 0; padding: 15px; margin: 0;}
#hGlobalNav .wrapper {display: none;}

#hSearch h1 {text-indent: -9999px; background: url(../img/icon_search_w.png) no-repeat center center; width: 20px; height: 21px; background-size: 20px 21px; position: absolute; top: 0; right: 0; padding: 15px; margin: 0;}
#hSearch .wrapper {display: none;}

#hAccount .wrapper {display: none;}
.avater img {width: 22px; height: 22px; border: 1px solid #fff; border-radius: 50%; cursor: pointer;}
.avater {width: 22px; height: 22px; position: absolute; right: 5px; top: 0; padding: 13px 15px 15px; z-index: 1001;}

#hAccount .name div {display: inline;}

.notificationCount {background: #7f0019; border-radius: 50%; color:#fff; font-size: 12px; width: 10px; height: 10px; display: block; padding: 4px; text-align: center; line-height: 10px;position: absolute; top: 5px; right: 0;}

footer {background: #000; line-height: 1;}
footer ul {margin: 0; list-style: none;}

#copyright {text-align: center; color: #fff;}

.footerNav4 {position: relative;}
#trademark {position: absolute; top: 0; right: 0;}
#trademark img {height: 20px; margin: 25px 0 0 20px;}

@media screen and (max-width : 1152px){
	#hGlobalNav h1 {text-indent: -9999px; background: url(../img/menu.png) no-repeat center center; width: 15px; height: 12px; background-size: 15px 12px; position: absolute; top: 0; left: 0; padding: 15px; margin: 0; cursor: pointer;}
	
	
}

@media screen and (max-width : 768px){
	body {font-size: 1em;}
	#hGlobalNav,
	#hSearch {z-index: 1001;}
	#hGlobalNav h1 {width: 15px; height: 12px; position: absolute; top: 0; left: 0; padding: 15px; margin: 0; cursor: pointer; z-index: 2; display: block;}
	#hSearch input[type="search"] {width: 90%;}
	#siteName {position: absolute; top: 0; left: 0; z-index: 100; margin: 0; padding: 0; text-align: center; width: 100%;}
	#siteName img {width: 80px; vertical-align: top; padding: 15px;}
	#trademark {padding: 15px 0; position: relative; width: 100%; text-align: center;}
	#trademark img {height: 12px; margin: 0;}
	#trademark img:last-child {margin: 0 0 0 20px;}
}

@media screen and (max-width : 769px){
	
}