.mainCampaignBack {background:url(/jp/img/panel/mujitogo_wide.jpg) no-repeat center center;}

@media only screen and (min-width : 1016px){
	#siteName {z-index: 1001; top: 16px; left: 0; margin: 0; position: absolute; background: url(/img/logo_muji_w.png) no-repeat; background-size: 70px auto;}

#globalHeader .wrapper {font-size: 15px;}

#main h1 {font-size: 22px;}

}