<!DOCTYPE html>
<html lang="{$SITE_LANG}">
<head>	
	<meta charset="UTF-8">
	<meta property="og:url" content="http://www.muji.com/{$selRegion}/">
	<meta property="og:image" content="http://www.muji.com/{$selRegion}/img/ogimage.png">
	<meta name="description" content="{$SITE_DESCRIPTION}">
	<meta content="width=device-width, initial-scale=1,user-scalable=no" name="viewport">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="noydir,noodp">

	<title>{$SITE_TITLE}</title>
	<link rel="icon" type="image/png" href="/{$selRegion}/img/favicon.ico">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/muji.2.0.css">
	<link rel="stylesheet" href="/{$selRegion}/css/muji_{$selRegion}.css">
	<link rel="stylesheet" href="/css/portal.css">
	<link rel="stylesheet" href="/{$selRegion}/css/portal_{$selRegion}.css">
	<link rel="stylesheet" href="/css/marker.css">
	<link rel="stylesheet" href="/css/self_marker.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/lib/jquery.min.1.11.0.js"><\/script>')</script>
	<!--[if lt IE 9]>
		<script src="/js/lib/html5.js"></script>
		<script src="/js/lib/respond.js"></script>
	<![endif]-->
	
	{$SITE_ANALYTICS_SCRIPT_HEAD}
</head>

<body>

<header id="globalHeader" class="black">
	<div class="headerWrap">
	
	<h1 id="siteName"><a href="{$SITE_TOP_LINK}"><img src="{$SITE_LOGO_IMG}" alt="{$SITE_TITLE}"></a></h1>

	<nav id="hGlobalNav">
		<h1>{$MENU_TITLE}</h1>
		<div class="wrapper">
			<div class="cancel"></div>
			<ul>
				<li class="home"><a href="/{$selRegion}/">{$MENU_HOME_TITLE}</a></li>
				{$MENU}
				<li><a href="{$LINK}">{$TEXT}</a></li>
				{/$MENU}
			</ul>
		</div>
	</nav>
	
{ife "{$PS_URL}" != ""}
	<section id="hSearch">
		<form action="{$PS_URL}" id="headerSearch" method="{$PS_METHOD}">
		<h1>{$PS_TITLE}</h1>
		<div class="wrapper">
			<div class="cancel"></div>
			<input type="search" placeholder="{$PS_PLACEHOLDER}" name="{$PS_INPUT_NAME}" value="{$PS_INPUT_VALUE}">
			<ul>
				{$PS_LKNKS}
				<li><a href="{$LINK}">{$TEXT}</a></li>
				{/$PS_LKNKS}
			</ul>
		</div>
		<a href="javascript:void(0)" onclick="javascript:document.forms['headerSearch'].submit();return false;"></a>
		</form>
	</section>
{else}{/ife}
	</div><!-- .headerWrap -->	
</header>

<div id="main">

{ife "{$MAINCAMP_IMG}" != ""}
	<section id="mainCampaign">
	<a href="{$MAINCAMP_DETAIL_LINK}">
		<figure>
			<img src="{$MAINCAMP_IMG}" alt="">
		</figure>
		
		<div class="titleContainer">
			<h1 class="mainCampaignTitle">
{else}{/ife}
{ife "{$MAINCAMP_TITLE_IMG}" != ""}
			<img src="{$MAINCAMP_TITLE_IMG}" alt="{$MAINCAMP_TITLE_IMG_ALT}">
{else}
			{$MAINCAMP_TITLE_IMG_ALT}
{/ife}
{ife "{$MAINCAMP_IMG}" != ""}
			</h1>
<!-- 			<a href="{$MAINCAMP_DETAIL_LINK}">{$MAINCAMP_DETAIL_TEXT}</a> -->
		</div>

		<div id="skip"></div>
	</a></section>
{else}{/ife}

{ife "{$PROD_TITLE}" != ""}
	<section id="product">
		<h1>{$PROD_TITLE}</h1>
{else}{/ife}
{ife "{$PROD_MORE_LINK}" != ""}
		<div class="more"><a href="{$PROD_MORE_LINK}">{$PROD_MORE_TEXT}</a></div>
{else}{/ife}
{ife "{$PROD_TITLE}" != ""}
		<div class="viewport">
			<ul class="flipsnap">
{else}{/ife}
				{$PROD_LINKS}
				<li><{ife "{$LINK}" != ""}a href="{$LINK}"{else}span{/ife} data-category="{$DATACAT}"><img src="{$IMG}" alt=""><br>{$TEXT}<{ife "{$LINK}" != ""}/a{else}/span{/ife}></li>
				{/$PROD_LINKS}
{ife "{$PROD_TITLE}" != ""}
			</ul>
		</div>
		<p class="controls">
			<button class="prev" disabled="disabled">prev</button>
			<button class="next">next</button>
		</p>
	</section>
{else}{/ife}

{ife "{$CAMP_TITLE}" != ""}
	<section id="campaign" class="contentSection">
		<h1>{$CAMP_TITLE}</h1>
{else}{/ife}
{ife "{$CAMP_MORE_LINK}" != ""}
		<div class="more"><a href="{$CAMP_MORE_LINK}">{$CAMP_MORE_TEXT}</a></div>
{else}{/ife}
{ife "{$CAMP_TITLE}" != ""}
		<div class="viewport">
		<ul class="flipsnap">
		</ul>
		</div>
		<p class="controls">
			<button class="prev" disabled="disabled">prev</button>
			<button class="next">next</button>
		</p>
	</section>
{else}{/ife}

{ife "{$EVENT_TITLE}" != ""}
	<section id="event" class="contentSection">
		<h1>{$EVENT_TITLE}</h1>
{else}{/ife}
{ife "{$EVENT_MORE_LINK}" != ""}
		<div class="more"><a href="{$EVENT_MORE_LINK}">{$EVENT_MORE_TEXT}</a></div>
{else}{/ife}
{ife "{$EVENT_TITLE}" != ""}
		<div class="viewport">
		<ul class="flipsnap">
		</ul>
		</div>
		<p class="controls">
			<button class="prev" disabled="disabled">prev</button>
			<button class="next">next</button>
		</p>
	</section>
{else}{/ife}

{ife "{$LAB_TITLE}" != ""}
	<section id="lab" class="contentSection">
		<h1>{$LAB_TITLE}</h1>
{else}{/ife}
{ife "{$LAB_MORE_LINK}" != ""}
		<div class="more"><a href="{$LAB_MORE_LINK}">{$LAB_MORE_TEXT}</a></div>
{else}{/ife}
{ife "{$LAB_TITLE}" != ""}
		<div class="viewport">
		<ul class="flipsnap">
{else}{/ife}
			{$LAB_LINKS}
			<li><{ife "{$LINK}" != ""}a href="{$LINK}"{else}span{/ife}><img src="{$IMG}" alt=""><br><span class="title">{$TEXT}</span></a></li>
			{/$LAB_LINKS}
{ife "{$LAB_TITLE}" != ""}
		</ul>
		</div>
		<p class="controls">
			<button class="prev" disabled="disabled">prev</button>
			<button class="next">next</button>
		</p>
	</section>
{else}{/ife}

{ife "{$HOUSEVISION_TITLE}" != ""}
	<section id="houseVision" class="contentSection">
{else}{/ife}
{ife "{$HOUSEVISION_TITLE}" != ""}
		<h1>{$HOUSEVISION_TITLE}</h1>
{else}{/ife}
{ife "{$HOUSEVISION_MORE_LINK}" != ""}
		<div class="more"><a href="{$HOUSEVISION_MORE_LINK}">{$HOUSEVISION_MORE_TEXT}</a></div>
{else}{/ife}
{ife "{$HOUSEVISION_TITLE}" != ""}
		<div class="viewport">
		<ul class="flipsnap">
{else}{/ife}
			{$HOUSEVISION_LINKS}
			<li><{ife "{$LINK}" != ""}a href="{$LINK}"{else}span{/ife}><img src="{$IMG}" alt="">{$TEXT}<{ife "{$LINK}" != ""}/a{else}/span{/ife}></li>
			{/$HOUSEVISION_LINKS}
{ife "{$HOUSEVISION_TITLE}" != ""}
		</ul>
		</div>
		<p class="controls">
			<button class="prev" disabled="disabled">prev</button>
			<button class="next">next</button>
		</p>
	</section>
{else}{/ife}

{ife "{$SL_TITLE}" != ""}
	<section id="shop">
		<div class="shopWrap">
		<h1>{$SL_TITLE}</h1>
{else}{/ife}
{ife "{$SL_MORE_LINK}" != ""}
		<div class="more"><a href="{$SL_MORE_LINK}">{$SL_MORE_TEXT}</a></div>
{else}{/ife}
{ife "{$SL_PREF_COMBO_IS_DISPLAY}" == "1"}
		<div id="search_combobox" class="search_form">
			<select id="prefectures" name="prefectures" onchange="javascript:if(this.options[this.selectedIndex].value!='00')location.href=MAP_MARKER_LINK_URL+'&pref='+this.options[this.selectedIndex].value;">
				<option value="00">都道府県から店舗を探す</option>
				<option value="01">北海道</option>
				<option value="02">青森県</option>
				<option value="03">岩手県</option>
				<option value="04">宮城県</option>
				<option value="05">秋田県</option>
				<option value="06">山形県</option>
				<option value="07">福島県</option>
				<option value="08">茨城県</option>
				<option value="09">栃木県</option>
				<option value="10">群馬県</option>
				<option value="11">埼玉県</option>
				<option value="12">千葉県</option>
				<option value="13">東京都</option>
				<option value="14">神奈川県</option>
				<option value="15">新潟県</option>
				<option value="16">富山県</option>
				<option value="17">石川県</option>
				<option value="18">福井県</option>
				<option value="19">山梨県</option>
				<option value="20">長野県</option>
				<option value="21">岐阜県</option>
				<option value="22">静岡県</option>
				<option value="23">愛知県</option>
				<option value="24">三重県</option>
				<option value="25">滋賀県</option>
				<option value="26">京都府</option>
				<option value="27">大阪府</option>
				<option value="28">兵庫県</option>
				<option value="29">奈良県</option>
				<option value="30">和歌山県</option>
				<option value="31">鳥取県</option>
				<option value="32">島根県</option>
				<option value="33">岡山県</option>
				<option value="34">広島県</option>
				<option value="35">山口県</option>
				<option value="36">徳島県</option>
				<option value="37">香川県</option>
				<option value="38">愛媛県</option>
				<option value="39">高知県</option>
				<option value="40">福岡県</option>
				<option value="41">佐賀県</option>
				<option value="42">長崎県</option>
				<option value="43">熊本県</option>
				<option value="44">大分県</option>
				<option value="45">宮崎県</option>
				<option value="46">鹿児島県</option>
				<option value="47">沖縄県</option>						
			</select>
		</div>
{else}{/ife}
{ife "{$SL_TITLE}" != ""}
		<div id="overlimit">
			<p>{$SL_OVERLIMIT_TEXT}</p>
		</div>
		<div id="shoplist">
			<div class="nearbyTitle">{$SL_NEARBY_TITLE}</div>
			<ul class="shops"></ul>
			<div id="noshops"></div>
		</div>
		<div id="map_frame">
			<div id="mapMask"></div>
			<div id="map" class="map"></div>
		</div>
		</div><!-- .shopWrap -->
	</section>
{else}{/ife}

{ife "{$INFO_TITLE}" != ""}
	<section id="information">
	<h1>{$INFO_TITLE}</h1>
{else}{/ife}
{ife "{$INFO_MORE_LINK}" != ""}
	<div class="more"><a href="{$INFO_MORE_LINK}">{$INFO_MORE_TEXT}</a></div>
{else}{/ife}
{ife "{$INFO_TITLE}" != ""}
	<div class="viewport">
		
		<ul class="flipsnap atom_import">
			
			<script type="text/javascript">
			<!--
				$.ajax({
					url: "{$INFO_DATAFILE_PATH}" ,
					async: true,
					cache: false,
					dataType:"xml",
					success: function(xml){
						var html_temp = "";
						var title = "";
						var link = "";
						var tagTime = "";
						var tagno = 0;
						var tagTimeArray = "";
						
						//xml loop
						$(xml).find('entry').each(function(i){							
							title = $(this).find('title').text();
							link = $(this).find('link').attr('href');
							tagTime = $(this).find('published').text();
							
							//tag
							html_temp += '<li><span class="date">' + tagTime + '</span>';
							html_temp += '<a href="' + link + '">' + title + '</a>' + '</li>';
						});
						
						//output
						$(".atom_import").html(html_temp);
					}
				});
				
			// -->
			</script>
			
		</ul>
	</div>
	<p class="controls">
			<button class="prev" disabled="disabled">prev</button>
			<button class="next">next</button>
		</p>
	</section>
{else}{/ife}
</div><!-- #main -->


<aside id="misc">
	<div class="content">
		<ul class="sns">
			{$MISC_SNS_LINKS}
			<li class="{$CLASS}"><a href="{$LINK}" target="_blank"><img src="{$IMG}" alt="{$IMGALT}"></a></li>
			{/$MISC_SNS_LINKS}
		</ul>
		{ife "{$MISC_PASSPORT_IS_DISPLAY}" == "1"}
		<div class="passport"><a href="http://www.muji.net/passport/"><img src="/img/misc_passport.png" alt="MUJI passport"></a></div>
		{else}{/ife}
	</div>
</aside>

<footer>

<nav id="footerNav">

	<section class="footerNav1">
		<ul>
			{$FN_NAV1}
			<li><a href="{$LINK}" target="{ife "{$TARGET}" == "" }_self{else}{$TARGET}{/ife}">{$TEXT}</a></li>
			{/$FN_NAV1}
		</ul>
	</section>

	<section class="footerNav2">
		<ul>
			{$FN_NAV2}
			<li><a href="{$LINK}" data-category="{$DATACAT}" target="{ife "{$TARGET}" == "" }_self{else}{$TARGET}{/ife}">{$TEXT}</a></li>
			{/$FN_NAV2}
		</ul>
	</section>

	<section class="footerNav3">
		<ul>
			{$FN_NAV3}
			<li><a href="{$LINK}" target="{ife "{$TARGET}" == "" }_self{else}{$TARGET}{/ife}">{$TEXT}</a></li>
			{/$FN_NAV3}
		</ul>
	</section>

	<section class="footerNav4">
		<ul>
			{$FN_NAV4}
			<li><{ife "{$LINK}" != ""}a href="{$LINK}"{else}span{/ife} {ife "{$TARGET}" == "" }target="_self"{else}target="{$TARGET}"{/ife}>{$TEXT}<{ife "{$LINK}" != ""}/a{else}/span{/ife}></li>
			{/$FN_NAV4}
		</ul>
	</section>
		
	<section class="footerNav5">
		<ul>
			{$FN_NAV5}
			<li class="country"><a href="{$LINK}" target="{ife "{$TARGET}" == "" }_self{else}{$TARGET}{/ife}"><img src="{$IMG}" alt="">{$TEXT}</a></li>
			{/$FN_NAV5}
		</ul>
		<div id="trademark"><a href="/{$selRegion}/?area=footer"><img src="/img/logo_muji_w.png" alt=""><img src="/img/logo_mujirushiryohin_w.png" alt=""></a></div>
	</section>
    
</nav>

<p id="copyright">
	<span class="copyright"><small>&copy;&nbsp;Ryohin Keikaku Co., Ltd.</small></span>
	
	<nav class="another">
	<ul>
		{$CP_ANOTHER}
		<li><{ife "{$LINK}" != ""}a href="{$LINK}"{else}span{/ife} {ife "{$TARGET}" == "" }target="_self"{else}target="{$TARGET}"{/ife}><small>{$TEXT}</small><{ife "{$LINK}" != ""}/a{else}/span{/ife}></li>
		{/$CP_ANOTHER}
	</ul>
	</nav>
</p>
</footer>

{ife "{$REVIEW_TITLE}" != ""}
<aside id="review">
	<a href="#" class="title">{$REVIEW_TITLE}</a>
	<div class="replyReview">
		<p class="lead">{$REVIEW_LEAD_TEXT}</p>
		<p class="replyFinish">{$REVIEW_REPLY_TEXT}</p>
		<div class="close"><img src="http://www.muji.com/img/icon_close.png"></div>
		<textarea placeholder="" id="suggestion"></textarea><br>
		<button class="submit submitBtn">{$REVIEW_SEND_TEXT}</button>
		<div class="note">{$REVIEW_NOTE_TEXT}</div>
	</div>	
</aside>
{else}{/ife}

<style>
	body {position: relative;}
	#review {margin: 0; line-height: 1.5; position: fixed; bottom: 0; right: 0; padding: 0; z-index: 9999; margin: 0; /* color: #fff; */}
	#review a {text-decoration: none;}
	#review p {font-size: 14px; margin: 0 0 10px;}
	#review .replyReview,
	#review .replyFinish {display: none;}
	#review .replyReview {background: #ccc; margin: 0; padding: 10px 20px;}
	#review img {vertical-align: middle; margin-left: 3px;}
	#review .title {
	display: block; padding: 8px 10px; color: #fff; border-radius: 8px 0 0 0; font-size: 12px; border: 0; width: auto;
	background: rgba(102,102,102,.6);
  filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#77000000,EndColorStr=#77000000)";
	}
	#review .title:not(:target){ filter: none; -ms-filter: none;}
	#review .title.show {background: #ccc; width: 290px;}
	#review .submit {display: inline-block; margin: 10px 10px 0 0; padding: 10px 20px; background: #666; color: #fff; border-radius: 3px; font-size: 14px; border: 0; float: left;}
	#review .submit:hover {background: #999;}
	#review textarea {width: 260px; height: 100px; color: #000; outline: none;}
	#review button {cursor: pointer;}
	#review .close {position: absolute; top: 0; right: 5px; padding: 10px; cursor: pointer;}
	#review .note {font-size: 13px; color: #444; margin-top: 20px;}
	#review .replyReview:after {content: ""; clear: both; display: block;}
</style>


	<script src="/js/lib/modernizr.custom.47384.js"></script>
	<script src="/js/lib/cssua.js"></script>
	<script src="/js/lib/fastclick.js"></script>
	
	<!--[if gt IE 8]><!-->
		<script src="/js/lib/flipsnap.fix.js"></script>
	<!--<![endif]-->
	
	<script src="/js/muji-1.0.js"></script>
	<script src="/js/portal-1.1.js"></script>
	<script src="/{$selRegion}/js/portal_{$selRegion}.js"></script>
	<script src="/js/lib/jquery.scrollTo.js"></script>
	
	
	<script>
		//FastClick
		if (cssua.ua.mobile) {
		$(function(){
			var selectors = [
				$("#hGlobalNav h1").get(0),
				$("#hSearch h1").get(0),
				$(".cancel").get(0),
				$(".prev").get(0),
				$(".next").get(0),
				$(".avater").get(0)
			];
			
			for(var i = 0, sLen = selectors.length; i < sLen; i++ ) {
				if(selectors[i] != undefined){
				FastClick.attach(selectors[i]);
				}
			}
		});
	}
		
 	</script>

	<script src="/js/lib/jquery.cookie.js"></script>


<script>

$(function(){

/*!
* 
* Panel Parsonalize
* 
*/

// Parse json value

	$.cookie.json = true;


// Read Cookie

	var visit = $.cookie("visit")?$.cookie("visit"):{};


// Max Visit Value

	var totalVisit = 0;

	$.each(visit,function(i,val){
		totalVisit += val;
	});

	if(totalVisit > 10) {
		for (var i in visit) {
			visit[i] = Math.floor(visit[i]/2);
			if(visit[i] == 0) {
				delete visit[i];
			}
		}
		$.cookie("visit", visit, { expires: 90, path: '/{$selRegion}/' });
	}


// campaign list

	var campaign = [
{$CAMP_LINKS}
		{
			"title":"{$TEXT}",
			"src":"{$IMG}",
			"href":"{$LINK}",
			"panelRank":{ife "{$RANK}" == "" }0{else}{$RANK}{/ife},
			"category":"{$DATACAT}"
		},
{/$CAMP_LINKS}
	{}
	];

	campaign.pop();

// increment each campaign panelRank from Cookie value

	for(var i = 0; i < campaign.length; i++){
		if(visit.hasOwnProperty(campaign[i].category)){
			campaign[i].panelRank += visit[campaign[i].category];
		}
	}


// sort campaign

	campaign.sort(function(a,b){
//		return a.panelRank < b.panelRank;
		if(a.panelRank < b.panelRank) return 1;
		if(a.panelRank > b.panelRank) return -1;
		return 0;
	})

//	$("#campaign").append("<ul>");

for(var i = 0; i < campaign.length; i++){

var cat = campaign[i].category?campaign[i].category:"";
var alt = (campaign[i].titleShow == true || campaign[i].titleShow == undefined)?"":campaign[i].title;
var titleText = (campaign[i].titleShow == true || campaign[i].titleShow == undefined)?campaign[i].title:"";
$("#campaign ul").append("<li><a href='" + campaign[i].href + "' data-category='"+ cat +"' data-panelrank='"+ campaign[i].panelRank +"'><img src='" + campaign[i].src + "' alt='" + alt + "'><br><span class='title'>" + titleText + "</span></a></li>");

}




// event list

	var event = [
{$EVENT_LINKS}
		{
			"title":"{$TEXT}",
			"src":"{$IMG}",
			"href":"{$LINK}",
			"panelRank":{ife "{$RANK}" == "" }0{else}{$RANK}{/ife},
			"category":"{$DATACAT}"
		},
{/$EVENT_LINKS}
	{}
	];

	event.pop();

// increment each event panelRank from Cookie value

	for(var i = 0; i < event.length; i++){
		if(visit.hasOwnProperty(event[i].category)){
			event[i].panelRank += visit[event[i].category];
		}
	}


// sort campaign

	event.sort(function(a,b){
		if(a.panelRank < b.panelRank) return 1;
		if(a.panelRank > b.panelRank) return -1;
		return 0;
	})

//	$("#event").append("<ul>");

for(var i = 0; i < event.length; i++){

var cat = event[i].category?event[i].category:"";
var alt = (event[i].titleShow == true || event[i].titleShow == undefined)?"":event[i].title;
var titleText = (event[i].titleShow == true || event[i].titleShow == undefined)?event[i].title:"";
$("#event ul").append("<li><a href='" + event[i].href + "' data-category='"+ cat +"' data-panelrank='"+ event[i].panelRank +"'><img src='" + event[i].src + "' alt='" + alt + "'><br><span class='title'>" + titleText + "</span></a></li>");

}




// write cookie

	$("a").on("click",function(e){
//		e.preventDefault();
		if($(this).attr("data-category") != "" && $(this).attr("data-category") != undefined){
			if(visit.hasOwnProperty($(this).attr("data-category"))){
				visit[$(this).attr("data-category")] += 1;
			}else{
				visit[$(this).attr("data-category")] = 1;
			}
			$.cookie("visit", visit, { expires: 90, path: '/{$selRegion}/' });
		}
	});


// Debug
//console.log($.cookie("visit"));
//console.log(campaign);
//console.log(event);

});
</script>

<script>
//feedback
$(function() { 
	$("#review .title").on("click",function(e){
		$("#review .replyReview").show();
		$("textarea#suggestion").focus();
		$("#review .title").addClass('show');
		e.preventDefault();
	});
	$("#review .close").on("click",function(){
		$("#review .replyReview").hide();
		$("#review .title").removeClass('show');
	});	
	$("#review .submitBtn").on("click",function(){
		$("#review textarea, #review .lead, #review .submitBtn, #review .note").hide();
		$("#review p.replyFinish").show();
		var suggestion = $("#suggestion").val();
		var data = "suggestion=" + suggestion;
		data += "&ua=" + navigator.userAgent
		
		$.ajax({
			type: "POST",
			url: "/service-bin/portal_suggestion/portal_suggestion_get.php",
			data: data,
			
			success: function(data){
				//console.log("success");
			},
			error: function(data){
				//console.log("fail");
				
			}
		});
		
	});
});
</script>

{ife "{$selRegion}" == "cn"}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=18c2abab0deabc84cf240d2e1123f5a1"></script>
<!--[if !IE]><!-->
	<script src="/js/lib/map_cn.js"></script>
<!--<![endif]-->
{else}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>	
<!--[if !IE]><!-->
	<script src="/js/lib/map.js"></script>
<!--<![endif]-->
{/ife}

<script>
	MAP_LIMIT_SHOPLIST = 10; /* Maximum number of stores list */
	MAP_LIMIT_MARKER = 100; /* Maximum number of stores placed on the map */
	MAP_IMG_MARKER = "/img/marker_red_default.png";
	MAP_IMG_SELF_POS = "/img/self_position.png";
{ife "{$selRegion}" == "jp"}
	MAP_MARKER_LINK_URL = "http://www.muji.net/shop/?";
	MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c=jp&_ACTION=_SEARCH";
{else}{/ife}
{ife "{$selRegion}" == "cn"}
	MAP_MARKER_LINK_URL = "http://www.muji.com/storelocator/?c=cn";
	MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c=cn&lang=LC&baidu_flag=1&_ACTION=_SEARCH";
{else}{/ife}
{ife "{$selRegion}" == "hk-en"}
	MAP_MARKER_LINK_URL = "http://www.muji.com/storelocator/?c=hk";
	MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c=hk&_ACTION=_SEARCH";
{else}{/ife}
{ife "{$selRegion}" != "jp" && "{$selRegion}" != "cn" && "{$selRegion}" != "hk-en"}
	MAP_MARKER_LINK_URL = "http://www.muji.com/storelocator/?c={$selRegion}";
	MAP_SHOPLIST_JSON_URL = "http://www.muji.com/storelocator/?c={$selRegion}&_ACTION=_SEARCH";
{else}{/ife}
	MAP_DEFAULT_ZOOM = {$SL_MAP_DEFAULT_ZOOM};
	MAP_DEFAULT_LAT = {$SL_MAP_DEFAULT_LAT};
	MAP_DEFAULT_LON = {$SL_MAP_DEFAULT_LON};
	MAP_LOAD_DIV_ID = "map";
</script>

{$SITE_ANALYTICS_SCRIPT_BODY}

</body>

</html>
