#main #mainCampaign .titleContainer h1 {position: absolute; width: 100%; max-width: 100%; top: 170px; left: 0; font-size: 50px; color: #191919; padding-left: 5%; text-align: left;}
#main #mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}


.footerNav3 {display: none;}
#misc .instagram a img {height: 31px; margin-left: 3px;}

