
#main #mainCampaign {background: #7f0019;}
#mainCampaign .titleContainer h1 {position: absolute; width: auto; max-width: 346px; top: 60px; left: 50%; margin-left: -173px;}
#mainCampaign .titleContainer h1 img {width: auto; max-width: 100%;}

@media screen and (max-width: 1200px){
	#mainCampaign .titleContainer h1 {max-width: 346px;}
	#mainCampaign figure {overflow: hidden;}
}

@media screen and (max-width: 480px){
	#mainCampaign .titleContainer h1 {width: auto; max-width: 280px; margin-left: -140px;}
}