
#main #mainCampaign {background: #d1ab79;}
#mainCampaign .titleContainer h1 {position: absolute; width: 100%; max-width: 100%; top: 100px; left: 0; font-size: 55px; color: #fff; text-align: center; margin: 0;}
#mainCampaign .titleContainer h1 img {width: 400px; max-width: 100%;}

@media screen and (max-width: 480px){
     #mainCampaign .titleContainer h1 img {width: 80%;}
     #main #mainCampaign .titleContainer h1 {top: 140px;}
     footer nav.another li:nth-child(2){padding: 0; width: 100%;}
}